<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/add_form.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<div class="container">
    <form th:method="PATCH" th:action="@{/general/{id}/edit(id=${general.getId()})}" th:object="${general}">

        <label for="name">Номер машины</label>
        <input type="text" th:field="*{carNumber}" id="name"/>

        <div style="color: red" th:if="${#fields.hasErrors('carNumber')}" th:errors="*{carNumber}">carNumber error</div>
        <br/>

        <label for="trailerNumber">Номер прицепа</label>
        <input type="text" th:field="*{trailerNumber}" id="trailerNumber"/>

        <div style="color: red" th:if="${#fields.hasErrors('trailerNumber')}" th:errors="*{trailerNumber}">trailerNumber
            error
        </div>
        <br/>

        <label for="driverLicenseNumber">Номер вод. удостоверения</label>
        <input type="text" th:field="*{driverLicenseNumber}" id="driverLicenseNumber"/>

        <div style="color: red" th:if="${#fields.hasErrors('driverLicenseNumber')}" th:errors="*{driverLicenseNumber}">
            driverLicenseNumber error
        </div>
        <br/>

        <label for="nomenclature">Номеклатура</label>
        <input type="text" th:field="*{nomenclature}" id="nomenclature"/>

        <div style="color: red" th:if="${#fields.hasErrors('nomenclature')}" th:errors="*{nomenclature}">nomenclature
            error
        </div>
        <br/>

        <label for="sender">Отправитель</label>
        <input type="text" th:field="*{sender}" id="sender"/>

        <div style="color: red" th:if="${#fields.hasErrors('sender')}" th:errors="*{sender}">sender error</div>
        <br/>

        <label for="vehicleType">Тип</label>
        <input type="text" th:field="*{vehicleType}" id="vehicleType"/>

        <div style="color: red" th:if="${#fields.hasErrors('vehicleType')}" th:errors="*{vehicleType}">vehicleType
            error
        </div>
        <br/>

        <label for="phoneNumber">Номер телефона</label>
        <input type="text" th:field="*{phoneNumber}" id="phoneNumber"/>

        <div style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">phoneNumber
            error
        </div>
        <br/>

        <label for="fullName">ФИО</label>
        <input type="text" th:field="*{fullName}" id="fullName"/>

        <div style="color: red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">fullName error</div>
        <br/>

        <label for="dateOfCreation">Дата создания</label>
        <input type="text" th:field="*{dateOfCreation}" id="dateOfCreation"/>

        <div style="color: red" th:if="${#fields.hasErrors('dateOfCreation')}" th:errors="*{dateOfCreation}">
            dateOfCreation error
        </div>
        <br/>

        <p> Заехал? <br/>
            <label for="choice1">Да</label>
            <input type="radio" id="choice1" name="true" value="true" th:field="*{come}"/>

            <label for="choice2">Нет</label>
            <input type="radio" id="choice2" name="false" value="false" th:field="*{come}"/>
        </p>

        <div style="color: red" th:if="${#fields.hasErrors('come')}" th:errors="*{come}">isCome error</div>
        <br/>

        <input class="registerbtn" type="submit" value="Обновить">
    </form>
</div>

</body>
</html>