<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/general/{id}/edit(id=${general.getId()})}" th:object="${general}">

    <input type="text" th:field="*{carNumber}" id="name" readonly/>
    <label for="name">Номер машины</label>

    <div style="color: red" th:if="${#fields.hasErrors('carNumber')}" th:errors="*{carNumber}">carNumber error</div>
    <br/>

    <input type="text" th:field="*{trailerNumber}" id="trailerNumber" readonly/>
    <label for="trailerNumber">Номер прицепа</label>

    <div style="color: red" th:if="${#fields.hasErrors('trailerNumber')}" th:errors="*{trailerNumber}">trailerNumber error</div>
    <br/>

    <input type="text" th:field="*{driverLicenseNumber}" id="driverLicenseNumber" readonly/>
    <label for="driverLicenseNumber">Номер вод. удостоверения</label>

    <div style="color: red" th:if="${#fields.hasErrors('driverLicenseNumber')}" th:errors="*{driverLicenseNumber}">driverLicenseNumber error</div>
    <br/>

    <input type="text" th:field="*{nomenclature}" id="nomenclature" readonly/>
    <label for="nomenclature">Номеклатура</label>

    <div style="color: red" th:if="${#fields.hasErrors('nomenclature')}" th:errors="*{nomenclature}">nomenclature error</div>
    <br/>

    <input type="text" th:field="*{sender}" id="sender" readonly/>
    <label for="sender">Отправитель</label>

    <div style="color: red" th:if="${#fields.hasErrors('sender')}" th:errors="*{sender}">sender error</div>
    <br/>

    <input type="text" th:field="*{vehicleType}" id="vehicleType" readonly/>
    <label for="vehicleType">Тип</label>

    <div style="color: red" th:if="${#fields.hasErrors('vehicleType')}" th:errors="*{vehicleType}">vehicleType error</div>
    <br/>

    <input type="text" th:field="*{phoneNumber}" id="phoneNumber" readonly/>
    <label for="phoneNumber">Номер телефона</label>

    <div style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">phoneNumber error</div>
    <br/>

    <input type="text" th:field="*{fullName}" id="fullName" readonly/>
    <label for="fullName">ФИО</label>

    <div style="color: red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">fullName error</div>
    <br/>

    <input type="text" th:field="*{dateOfCreation}" id="dateOfCreation" readonly/>
    <label for="dateOfCreation">Дата создания</label>

    <div style="color: red" th:if="${#fields.hasErrors('dateOfCreation')}" th:errors="*{dateOfCreation}">dateOfCreation error</div>
    <br/>

    <p> Заехал? <br/>
        <label for="choice1">Да</label>
        <input type="radio" id="choice1" name="true" value="true" th:field="*{come}"/>

        <label for="choice2">Нет</label>
        <input type="radio" id="choice2" name="false" value="false" th:field="*{come}"/>
    </p>

    <div style="color: red" th:if="${#fields.hasErrors('come')}" th:errors="*{come}">isCome error</div>
    <br/>

    <input type="submit" value="Обновить">
</form>

</body>
</html>