<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link th:href="@{/css/table.css}" rel="stylesheet" />
</head>
<body>

<div class="table-wrapper" th:object="${general}" >
    <table class="fl-table">
        <thead>
        <tr>
            <th>Номер машины</th>
            <th>Номер прицепа</th>
            <th>Номер вод. удостоверения</th>
            <th>Номеклатура</th>
            <th>Отправитель</th>
            <th>Тип</th>
            <th>Номер телефона</th>
            <th>ФИО</th>
            <th>Дата создания</th>
            <th>Заехал</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="general : ${generals}">
            <td>
                <a th:href="@{/general/{id}(id=${general.getId()})}" th:text="${general.getCarNumber()}">
                </a>
            </td>

            <td>
                <a th:href="@{/general/{id}(id=${general.getId()})}" th:text="${general.getTrailerNumber()}" >
                </a>
            </td>

            <td>
                <a th:href="@{/general/{id}(id=${general.getId()})}" th:text="${general.getDriverLicenseNumber()}">
                </a>
            </td>

            <td>
                <a th:href="@{/general/{id}(id=${general.getId()})}" th:text="${general.getNomenclature()}">
                </a>
            </td>

            <td>
                <a th:href="@{/general/{id}(id=${general.getId()})}" th:text="${general.getSender()}">
                </a>
            </td>

            <td>
                <a th:href="@{/general/{id}(id=${general.getId()})}" th:text="${general.getVehicleType()}">
                </a>
            </td>

            <td>
                <a th:href="@{/general/{id}(id=${general.getId()})}" th:text="${general.getPhoneNumber()}">
                </a>
            </td>

            <td>
                <a th:href="@{/general/{id}(id=${general.getId()})}" th:text="${general.getFullName()}">
                </a>
            </td>

            <td>
                <a th:href="@{/general/{id}(id=${general.getId()})}" th:text="${general.getDateOfCreation()}">
                </a>
            </td>

            <td>
                <a th:href="@{/general/{id}(id=${general.getId()})}" th:if="${general.isCome()}" th:text="Да">
                </a>
                <a th:href="@{/general/{id}(id=${general.getId()})}" th:unless="${general.isCome()}" th:text="Нет">
                </a>
            </td>

        </tr>
        <tbody>
    </table>
</div>

<br/>

<div class="MyFooter">
    <hr/>

    <p>
        <a href="general/new">Добавить запись</a>
        <a href="general/print">Печать</a>
        <a href="general/search">Поиск</a>
    </p>

    <form th:method="POST" th:action="@{/logout}">
        <input class="registerbtn" type="submit" value="Log out">
    </form>

</div>

</body>
</html>