<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
    <link th:href="@{/css/table.css}" rel="stylesheet">
</head>
<body>
<!--<div class="card">-->
<!--    <div>-->
<!--&lt;!&ndash;        <p th:text="${general.getCarNumber() + ', ' + general.getTrailerNumber() + ', ' + general.getDriverLicenseNumber()&ndash;&gt;-->
<!--&lt;!&ndash;       + ', ' + general.getNomenclature() + ', ' + general.getSender() + ', ' + general.getVehicleType() + ', '&ndash;&gt;-->
<!--&lt;!&ndash;       + general.getPhoneNumber() + ', ' + general.getFullName() + ', ' + general.getDateOfCreation()&ndash;&gt;-->
<!--&lt;!&ndash;       + ', ' + general.isCome()}">VALUE&ndash;&gt;-->
<!--&lt;!&ndash;        </p>&ndash;&gt;-->


<!--        <p th:text="${general.getCarNumber()}"></p>-->
<!--        <p th:text="${general.getTrailerNumber()}"></p>-->
<!--        <p th:text="${general.getDriverLicenseNumber()}"></p>-->
<!--        <p th:text="${general.getNomenclature()}"></p>-->
<!--        <p th:text="${general.getSender()}"></p>-->
<!--        <p th:text="${general.getVehicleType()}"></p>-->
<!--        <p th:text="${general.getPhoneNumber()}"></p>-->
<!--        <p th:text="${general.getFullName()}"></p>-->
<!--        <p th:text="${general.isCome()}"></p>-->
<!--        <p th:text="${general.getDateOfCreation()}"></p>-->
<!--    </div>-->
<!--</div>-->

<h2></h2>

<div class="table-wrapper" th:object="${general}">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Номер машины</th>
            <th>Номер прицепа</th>
            <th>Номер вод. удостоверения</th>
            <th>Номеклатура</th>
            <th>Отправитель</th>
            <th>Тип</th>
            <th>Номер телефона</th>
            <th>ФИО</th>
            <th>Дата создания</th>
            <th>Заехал</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${general.getCarNumber()}" style="text-align: center;">
            </td>

            <td th:text="${general.getTrailerNumber()}" style="text-align: center;">
            </td>

            <td th:text="${general.getDriverLicenseNumber()}" style="text-align: center;">
            </td>

            <td th:text="${general.getNomenclature()}" style="text-align: center;">
            </td>

            <td th:text="${general.getSender()}" style="text-align: center;">
            </td>

            <td th:text="${general.getVehicleType()}" style="text-align: center;">
            </td>

            <td th:text="${general.getPhoneNumber()}"
            style="text-align: center;">
            </td>

            <td th:text="${general.getFullName()}" style="text-align: center;">
            </td>

            <td th:text="${general.getDateOfCreation()}" style="text-align: center;">
            </td>

            <td>
               <p th:if="${general.isCome()}" th:text="Да"
                style="text-align: center;">
               </p>
                <p th:unless="${general.isCome()}" th:text="Нет"
                style="text-align: center;">
               </p>
            </td>
        </tr>
        <tbody>
    </table>
</div>


<div>
    <br/>
    <hr/>
    <a th:href="@{/general/{id}/edit(id=${general.getId()})}">Редактировать</a>

    <form th:method="DELETE" th:action="@{/general/{id}(id=${general.getId()})}">
        <input type="submit" value="Удалить"/>
    </form>
</div>
</body>
</html>