<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
    <link th:href="@{/css/table.css}" rel="stylesheet">
</head>
<body>

<h2></h2>

<div class="table-wrapper" th:object="${general}">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Номер машины</th>
            <th>Номер прицепа</th>
            <th>Номер вод. удостоверения</th>
            <th>Номеклатура</th>
            <th>Отправитель</th>
            <th>Тип</th>
            <th>Номер телефона</th>
            <th>ФИО</th>
            <th>Дата создания</th>
            <th>Заехал</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${general.getCarNumber()}">
            </td>

            <td th:text="${general.getTrailerNumber()}">
            </td>

            <td th:text="${general.getDriverLicenseNumber()}">
            </td>

            <td th:text="${general.getNomenclature()}">
            </td>

            <td th:text="${general.getSender()}">
            </td>

            <td th:text="${general.getVehicleType()}">
            </td>

            <td th:text="${general.getPhoneNumber()}">
            </td>

            <td th:text="${general.getFullName()}">
            </td>

            <td th:text="${general.getDateOfCreation()}">
            </td>

            <td>
               <p th:if="${general.isCome()}" th:text="Да">
               </p>
                <p th:unless="${general.isCome()}" th:text="Нет">
               </p>
            </td>
        </tr>
        <tbody>
    </table>
</div>

<div>
    <br/>
    <hr/>
    <a th:href="@{/general/{id}/edit(id=${general.getId()})}">Редактировать</a>

    <form th:method="DELETE" th:action="@{/general/{id}(id=${general.getId()})}">
        <input type="submit" value="Удалить"/>
    </form>
</div>
</body>
</html>