body {
  background-color: #f7f2f2;
}

html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  border: 0;
  font-family: Georgia, Arial, sans-serif;
  font-size: 17px;
  margin: 1% 0 0;
  padding: 0;
  letter-spacing: 0.4px;
}

.box {
  padding: 2em;
}
.item {
  margin-bottom: 2em;
}

.print_button {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-family: Georgia, Arial, sans-serif;
  font-size: 20px;
}

.print_button:hover {
  font-family: Georgia, Arial, sans-serif;
  font-size: 20px;
  opacity:1;
}

.MyFooter {
  word-spacing: 3px;
  font-size: 20px;
}

a:link, a:visited {
  color: black;
}
